<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
             <div class="row page-header mb-5">
                 <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                        <li class="breadcrumb-item active">Budget</li>
                    </ol>
                 </div>
                 <div class="col-sm-12 col-md-6 col-lg-4">
                    <h2 class="d-md-block d-sm-none d-none">Available Template Records</h2>
                    <h4 class="d-md-none d-block">Available Template Records</h4>
                 </div>
                 <div class="col-sm-12 col-md-6 offset-lg-4 col-lg-4">
                     <h5>Balance Summary</h5>
                     <div th:replace="fragments/balance_summary.html :: BudgetVerticalLayout(${balance.summary}, ${balance.account.currency.currencySymbol})"></div>
                 </div>

            </div>

            <div class="row mt-4 mb-3">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" th:each="account: ${availableAccounts}">
                            <a class="nav-link"
                               th:href="@{'/budget'(accountId=${account.id})}"
                               th:classappend="${account.id} == ${balance.account.id} ? active : ''">
                                <i th:if="${account.mainAccount}" class="fa fa-star"></i>
                                <span th:text="${account.name}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" th:if="${#lists.isEmpty(balance.records)}">
                <div class="col">
                    <div class="jumbotron">
                        <h2>No template record found.</h2>
                        <p class="lead">There is no template record for this account yet.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" th:if="${not #lists.isEmpty(balance.records)}">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <h2 class="d-md-block d-sm-none d-none">Categories</h2>
                    <h4 class="d-md-none d-block">Categories</h4>
                    <div class="jumbotron" th:if="${#lists.isEmpty(balance.categoryBalanceSummaries)}">
                        <h3>No records found.</h3>
                        <p class="lead">No category summary for this account yet.</p>
                    </div>
                    <div th:replace="fragments/category_summary :: CategorySummariesDeck(${balance.categoryBalanceSummaries}, ${balance.account.currency.currencySymbol})"/>
                </div>

                <div class="col-sm-12 col-md-9">
                    <h2 class="d-md-block d-sm-none d-none">Budget Template Records</h2>
                    <h4 class="d-md-none d-block">Budget Template Records</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped table-sm filterable">
                            <tbody>
                                <tr>
                                    <td th:include="fragments/filter_form_table_row :: FilterTableRow"></td>
                                </tr>
                                <tr th:each="record: ${balance.records}">
                                    <td>
                                        <input type="hidden" class="record-value" th:value="${record.recordValue}"/>
                                        <h4 class="day-of-month float-left text-monospace"
                                            th:text="${#temporals.format(record.recordDate,'dd')}"></h4>
                                        <h5 class="item-title d-inline" th:text="${record.category.name}"></h5>
                                        <a  th:href="@{'/budget/delete/{id}'(id=${record.id})}"
                                            title="Remove the budget template record."
                                            onclick="return confirm('Do you really want to remove the budget template record?\n It won\'t remove the records created based on this record.');"
                                            class="text-danger float-right">
                                            <span class="fas fa-trash-alt fa-lg"></span>
                                        </a><br/>
                                        <span th:text="${record.description}"></span><br/>
                                        <span   class="text-right float-right"
                                                th:text="${#numbers.formatDecimal(record.recordValue, 1, 'POINT', 2, 'COMMA')}"
                                                th:classappend="${record.recordValue} > 0 ? text-info : text-danger">
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-right">
                                        <strong>Balance:</strong>
                                        <span th:text="${balance.account.currency.currencySymbol}"></span>
                                        <span th:text="${#numbers.formatDecimal(balance.summary.finalBalance, 1, 'POINT', 2, 'COMMA')}" id="lblBalance"></span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="fab-btn">
            <a th:href="@{/budget/new}"
               title="Show form to create a new budget template record."
               class="btn btn-primary btn-lg">
                <i class="fas fa-plus fa-lg"></i>
            </a>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>