<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body style="padding-top: 120px;">
        <div th:replace="fragments/navbar :: navbar"></div>

        <div class="container-fluid">
              <div class="row mb-3">
                  <div class="col">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a th:href="@{'/budget'}">Budget</a></li>
                          <li class="breadcrumb-item active">New Template Record</li>
                      </ol>
                  </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1>New Template Record</h1>
                </div>
            </div>

            <div class="row" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" role="alert">
                        <span th:text="${message}"></span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form action="#" th:object="${newBudgetTemplateRecord}" th:action="@{/budget/create}" method="post">
                        <fieldset>
                            <legend>Record Details</legend>
                            <div class="form-group" th:classappend="${#fields.hasErrors('dayOfMonth')} ? 'has-danger' : ''">
                                <label for="dayOfMonth">Day of Month:</label>
                                <input  type="number"
                                        class="form-control"
                                        min="1"
                                        max="28"
                                        th:field="*{dayOfMonth}"
                                        th:classappend="${#fields.hasErrors('dayOfMonth')} ? is-invalid : ''"
                                        autofocus
                                        required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('dayOfMonth')}" th:errors="*{recordDate}"/>
                            </div>
                            <div class="form-group">
                                <label for="accountId">Account:</label>
                                <select th:field="*{accountId}" class="form-control" required>
                                    <option th:each="account: ${availableAccounts}" th:value="${account.id}" th:text="${account.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="categoryId">Category:</label>
                                <select th:field="*{categoryId}" class="form-control">
                                    <option th:each="category: ${availableCategories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-danger' : ''">
                                <label for="description">Description:</label>
                                <input  type="text"
                                        class="form-control"
                                        placeholder="Brief description of the record."
                                        minlength="5"
                                        maxlength="140"
                                        th:field="*{description}"
                                        th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"
                                        required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                            </div>
                            <div class="form-group">
                                <label for="recordValue">Value (€):</label>
                                <input  type="text"
                                        class="form-control"
                                        placeholder="0.000,00"
                                        th:field="*{recordValue}"
                                        th:classappend="${#fields.hasErrors('recordValue')} ? 'is-invalid' : ''"
                                        required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('recordValue')}" th:errors="*{recordValue}"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" title="Creates a new budget template record.">Create</button>&nbsp;
                                <a class="btn btn-default" th:href="@{/budget}" title="Go back to budget page without save the changes.">Cancel</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>