body {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fafafa;
}

.thead-dark th {
    background-color: #343A40 !important;
}

.item-title {
    margin-bottom: 0px !important;
}

.fab-btn {
    position: fixed;
    bottom: 15px;
    left: 50%;
    margin-left: -23px;
}

.fab-btn .btn {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    padding: 23px 15px 10px 18px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(201,201,201,1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(201,201,201,1);
    box-shadow: 5px 5px 15px 0px rgba(201,201,201,1);
}

.fab-btn .dropdown-menu {
    left: -52px !important;
}

.initial-letter {
    text-align: center;
    margin: 0px 15px 0px -10px;
    background-color: #c9c9c9;
    color: #ffffff;
    padding: 15px 18px 10px 21px;
    border-radius: 70px;
    width: 68px;
    height: 68px;
    font-weight: bold;
}

.initial-letter > h2 {
    color: #ffffff;
}

.day-of-month {
    text-align: center;
    margin: 0px 15px 0px -10px;
    background-color: #c9c9c9;
    color: #ffffff;
    padding: 15px;
    border-radius: 60px;
    font-weight: bold;
    width: 68px;
    height: 68px;
}

.day-of-month > h4 {
    color: #ffffff;
    padding: 8px;
    margin: 0px;
}

.full-height {
    height: 100vh;
    min-height: 100vh;
}

.super {
    font-size: 10em;
}

em {
    background-color: yellow;
}

.row {
    padding-left:20px !important;
    padding-right: 20px !important;
}

.page-header {
    padding-top:20px;
    padding-bottom:20px;
    background-color: #343a40 !important;
    color: #ffffff !important;
    -webkit-box-shadow: -3px 7px 44px -10px rgba(86,86,86,1);
    -moz-box-shadow: -3px 7px 44px -10px rgba(86,86,86,1);
    box-shadow: -3px 7px 44px -10px rgba(86,86,86,1);
}

.page-header a,
.page-header h1,
.page-header h2,
.page-header h4,
.page-header h5 {
    color: #ffffff !important;
}

.page-header .breadcrumb {
    padding-left: 0px !important;
}

.page-header td {
    border-top: 1px solid rgba(255,255,255,0.2) !important;
}

.nav-pills .nav-link {
    border-radius: 15px !important;
}

tfoot > tr > td {
    background-color: #e0e0e0;
}

.last-created-record {
    box-shadow: inset 0px 0px 20px 0px rgba(255, 211, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(255, 211, 0, 0.5);
    background-color: transparent !important;
}


.timeline {
  padding: 0px;
  margin: 0px;
}

.timeline, .timeline-item, .timeline-item-header, .timeline-item-body {
  width: 100%
}

.timeline-item-bullet, .timeline-item-bullet-closed {
  width: 20px;
  height: 20px;
  border: 5px solid #343A40;
  border-radius: 50px;
  float: left;
}

.timeline-item-bullet-closed {
    background-color: #343A40;
}

.timeline-item-date {
  padding-left: 40px;
}

.timeline-item-date h4 {
    margin:0px !important;
}

.timeline-item-body {
  border-left: 5px solid #343A40;
  margin-top: -5px;
  margin-left: 7px;
  padding: 20px 0px 40px 20px;
}

.accordion .card-header {
    font-size: 1.2em;
}

.accordion .card:last-of-type {
    border-bottom: 1px solid rgba(0,0,0,0.125) !important;
}

.category-summary-table {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.category-summary-table > tbody > tr > td {
    padding: 5px 0px 5px 0px;
    font-size: 0.8em;
}

.signin {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.no-padding {
    padding: 0px;
}

.logo-name {
    padding: 15px 0px 0px 0px;
}

.fab-btn > .dropup > .dropdown-toggle:after {
    content: none !important;
}
