.thead-dark th {
    background-color: #343A40 !important;
}

.item-title {
    margin-bottom: 0px !important;
}

.fab {
    position: fixed;
    bottom: 15px;
    left: 50%;
    margin-left: -23px;
}

.fab .btn {
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(201,201,201,1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(201,201,201,1);
    box-shadow: 5px 5px 15px 0px rgba(201,201,201,1);
}

.initial-letter {
    margin: 0px 15px 0px -10px;
    background-color: #c9c9c9;
    color: #ffffff;
    padding: 10px 18px 10px 18px;
    border-radius: 70px;
    font-weight: bold;
}

.day-of-month {
    margin: 0px 15px 0px -10px;
    background-color: #c9c9c9;
    color: #ffffff;
    padding: 15px;
    border-radius: 60px;
    font-weight: bold;
}