<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
    <body style="padding-top: 120px;">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container">
             <div class="row mb-3">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                        <li class="breadcrumb-item active">Accounts</li>
                    </ol>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-9 col-sm-12">
                    <h1>Available Accounts</h1>
                </div>
                <div class="col-md-3 col-sm-12 text-right align-self-end">
                    <a th:href="@{/accounts/new}" class="btn btn-primary" title="Shows the form to create a new account.">New Account</a>
                </div>
            </div>

            <div class="row mt-3 mb-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mt-3 mb-3" th:if="${null != error}">
                <div class="col">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>

            <div class="row" th:if="${#lists.isEmpty(availableAccounts)}">
                <div class="col">
                    <div class="jumbotron">
                        <h2>No account found.</h2>
                        <p class="lead">There is no account created yet.
                    </div>
                </div>
            </div>

            <div class="row" th:if="${not #lists.isEmpty(availableAccounts)}">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Account</th>
                                    <th class="text-center">As Main Account Record</th>
                                    <th class="text-center">Month Starts At</th>
                                    <th class="text-center">Billing Day</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody th:id="${not #lists.isEmpty(availableAccounts)}">
                                <tr th:each="account: ${availableAccounts}" th:classappend="${account.mainAccount} ? table-info : ''">
                                    <td>
                                        <a th:href="@{/accounts/edit/{id}(id=${account.id})}"
                                           title="Edit account.">
                                            <strong th:text="${account.name}"></strong>&nbsp;
                                        </a>
                                        <span class="badge badge-pill badge-danger" th:if="${account.mainAccount}">Main Account</span><br/>
                                        <small class="text-muted" th:text="${account.description}"></small>
                                    </td>
                                    <td class="text-center">
                                        <span th:if="${account.showBalanceOnMainAccount}">Yes</span>
                                        <span th:if="${not account.showBalanceOnMainAccount}">No</span>
                                    </td>
                                    <td class="text-center" th:text="${account.monthStartingAt}"></td>
                                    <td class="text-center" th:text="${account.monthBillingDayAt}"></td>
                                    <td class="text-center">
                                        <a  th:href="@{/accounts/delete/{accountId}(accountId=${account.id})}"
                                            title="Remove account and all of its records."
                                            onclick="return confirm('Do you really want to remove this account and all of its records?');"
                                            th:if="${not account.mainAccount}"
                                            class="btn btn-danger btn-sm">
                                            <span class="fa fa-trash-alt"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>