<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
    <body style="padding-top: 120px;">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-9 col-sm-12">
                    <h1>Available Accounts</h1>
                </div>
                <div class="col-md-3 col-sm-12 text-right align-self-end">
                    <a th:href="@{/accounts/new}" class="btn btn-primary" title="Shows the form to create a new account.">New Account</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Account</th>
                                    <th class="text-center">As Main Account Record</th>
                                    <th class="text-center">Month Starts At</th>
                                    <th class="text-center">Billing Day</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody th:id="${not #lists.isEmpty(availableAccounts)}">
                                <tr th:each="account: ${availableAccounts}">
                                    <td>
                                        <strong th:text="${account.name}"></strong>&nbsp;
                                        <span class="badge badge-pill badge-danger" th:if="${account.mainAccount}">Main Account</span><br/>
                                        <small class="text-muted" th:text="${account.description}"></small>
                                    </td>
                                    <td class="text-center">
                                        <span th:if="${account.showBalanceOnMainAccount}">Yes</span>
                                        <span th:if="${not account.showBalanceOnMainAccount}">No</span>
                                    </td>
                                    <td class="text-center" th:text="${account.monthStartingAt}"></td>
                                    <td class="text-center" th:text="${account.monthBillingDayAt}"></td>
                                    <td class="text-center">
                                        <a  th:href="@{/accounts/delete/{accountId}(accountId=${account.id})}"
                                            title="Remove account and all of its records."
                                            onclick="return confirm('Do you really want to remove this account and all of its records?');"
                                            th:if="${not account.mainAccount}">
                                            <span class="fa fa-trash-alt"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"
    </body>
</html>