<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body style="padding-top:120px;">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a th:href="@{'/accounts'}">Accounts</a></li>
                        <li class="breadcrumb-item active">New Account</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1>New Account</h1>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${#fields.hasErrors('newAccount')}">
                <div class="col">
                    <div class="alert alert-danger" th:errors="*{newAccount}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form action="#" th:object="${newAccount}" th:action="@{/accounts/create}" method="post">
                        <fieldset>
                            <legend>Account Details</legend>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text"
                                       class="form-control"
                                       th:appendclass="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                       th:field="*{name}"
                                       placeholder="Account name."
                                       autofocus
                                       required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" th:field="*{description}" placeholder="Account's purpose brief description."></textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input" th:field="*{showBalanceOnMainAccount}"/>
                                        Show account balance as a main account record.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="monthStartingAt">Beginning of Month:</label>
                                <input type="text" class="form-control"
                                       th:appendclass="${#fields.hasErrors('monthStartingAt') ? 'is-invalid' : ''}"
                                       th:field="*{monthStartingAt}"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('monthStartingAt')}" th:errors="*{monthStartingAt}"></div>
                            </div>
                            <div class="form-group">
                                <label for="monthBillingDayAt">Monthly Billing Day:</label><br/>
                                <input type="text"
                                       class="form-control"
                                       th:appendclass="${#fields.hasErrors('monthBillingDayAt') ? 'is-invalid' : ''}"
                                       th:field="*{monthBillingDayAt}"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('monthBillingDayAt')}" th:errors="*{monthBillingDayAt}"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Create</button>&nbsp;
                                <a th:href="@{/accounts}" title="Go back to available accounts page without save the changes." class="btn btn-default">Cancel</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>