<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
             <div class="row mb-5 page-header">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                        <li class="breadcrumb-item active">Accounts</li>
                    </ol>
                    <h2 class="d-md-block d-sm-none d-none"><i class="fa fa-folder"></i>&nbsp;Available Accounts</h2>
                    <h4 class="d-md-none d-block"><i class="fa fa-folder"></i>&nbsp;Available Accounts</h4>
                </div>
            </div>

            <div class="row mt-3 mb-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mt-3 mb-3" th:if="${null != error}">
                <div class="col">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>

            <div class="row" th:if="${#lists.isEmpty(availableAccounts)}">
                <div class="col">
                    <div class="jumbotron">
                        <h2>No account found.</h2>
                        <p class="lead">There is no account created yet.
                    </div>
                </div>
            </div>

            <div class="row" th:if="${not #lists.isEmpty(availableAccounts)}">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover table-sm filterable">
                            <tbody th:if="${not #lists.isEmpty(availableAccounts)}">
                                <tr>
                                    <td th:include="fragments/filter_form_table_row :: FilterTableRow"></td>
                                </tr>
                                <tr th:each="account: ${availableAccounts}">
                                    <td>
                                        <div class="initial-letter d-inline float-left text-monospace">
                                            <h2 th:text="${#strings.substring(account.name, 0, 1)}"></h2>
                                        </div>
                                        <a th:href="@{/standard_accounts/edit/{id}(id=${account.id})}" title="Edit account.">
                                            <h5 class="item-title d-inline" th:text="|${account.name} (${account.currency.currencyCode})|"></h5>
                                        </a>
                                        <span th:if="${account.showBalanceOnParentAccount}" class="badge badge-pill badge-primary" th:title="|Dependant of ${account.parent.name}.|">Dependant Account</span>
                                        <span th:if="${account.mainAccount}" class="badge badge-pill badge-success">Main Account</span><br/>
                                        <small class="text-muted d-block" th:text="${account.description}" th:if="${account.description != null}"></small>
                                        <small class="text-muted">
                                            Monthly starting on <strong th:text="${T(io.geekmind.budgie.ui.TextHelper).formatOrdinal(account.monthStartingAt)}"></strong> and
                                            billing on <strong th:text="${T(io.geekmind.budgie.ui.TextHelper).formatOrdinal(account.monthBillingDayAt)}">.</strong>
                                        </small><br/>
                                        <a  th:href="@{/standard_accounts/delete/{accountId}(accountId=${account.id})}"
                                            title="Archive the account."
                                            onclick="return confirm('Do you really want to archive this account?');"
                                            th:if="${not account.mainAccount}"
                                            class="float-right text-danger">
                                            <span class="fa fa-trash-alt fa-lg"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="fab-btn">
            <a th:href="@{/standard_accounts/new}" class="btn btn-primary btn-lg" title="Shows the form to create a new account.">
                <i class="fa fa-lg fa-plus"></i>
            </a>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>