<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row page-header mb-5">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a th:href="@{'/project_accounts'}">Projects</a></li>
                        <li class="breadcrumb-item active" th:text="${editProjectAccount.name}"></li>
                    </ol>
                </div>
                <div class="col-lg-12">
                    <h2><i class="fa fa-gem"></i>&nbsp;Edit Project</h2>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${#fields.hasErrors('editProjectAccount')}">
                <div class="col">
                    <div class="alert alert-danger" th:errors="*{editProjectAccount}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form th:object="${editProjectAccount}" th:action="@{/project_accounts/update}" method="post">
                        <fieldset>
                            <legend>Project Details</legend>
                            <div class="form-row">
                                <div class="form-group col" th:classappend="${#fields.hasErrors('name')} ? 'has-danger' : ''">
                                    <label for="name">Name:</label>
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="text"
                                           class="form-control"
                                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                           th:field="*{name}"
                                           placeholder="Account name."
                                           maxlength="140"
                                           minlength="5"
                                           autofocus
                                    required/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="parentId">Attached to account:</label>
                                    <select th:field="*{parentId}" class="form-control">
                                        <option th:each="account: ${availableAccounts}" th:value="${account.id}" th:text="${account.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" th:field="*{description}" placeholder="Account's purpose brief description."></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col" th:classappend="${#fields.hasErrors('name')} ? 'has-danger' : ''">
                                    <label for="targetValue">Target Value:</label>
                                    <input type="text"
                                           class="form-control"
                                           th:classappend="${#fields.hasErrors('targetValue')} ? 'is-invalid' : ''"
                                           th:field="*{targetValue}"
                                           placeholder="0.000,00"
                                           required/>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('targetValue')}" th:errors="*{targetValue}"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <button type="submit" class="btn btn-primary">Update</button>&nbsp;
                                    <a th:href="@{/project_accounts}" title="Go back to available projects page without save the changes." class="btn btn-default">Cancel</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>