<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row mb-5 page-header">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a th:href="@{'/csv_upload/new'}">Import from CSV</a></li>
                        <li class="breadcrumb-item active">Review Imported Records</li>
                    </ol>
                    <h2><i class="fa fa-file"></i>&nbsp;Review Imported Records</h2>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${null != error}">
                <div class="col">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form action="#" th:object="${parsedRecords}" th:action="@{/csv_upload/import}" method="post">
                        <fieldset>
                            <legend th:text="|Import files to ${selectedAccount.name}.|"></legend>
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-sm table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-center">Date</th>
                                            <th class="text-center">Category</th>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Value</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="record,element: ${parsedRecords.csvRecords}">
                                            <td>
                                                <input type="date" class="form-control" th:field="*{csvRecords[__${element.index}__].recordDate}" required/>
                                            </td>
                                            <td>
                                                <input type="hidden" th:field="*{csvRecords[__${element.index}__].bankStatementId}"/>
                                                <input type="hidden" th:field="*{csvRecords[__${element.index}__].accountId}"/>
                                                <input type="hidden" th:field="*{csvRecords[__${element.index}__].sourceRecordHash}"/>
                                                <input type="hidden" th:field="*{csvRecords[__${element.index}__].isTaxRefundable}"/>
                                                <select class="form-control" th:field="*{csvRecords[__${element.index}__].categoryId}" required>
                                                    <option th:each="category: ${availableCategories}" th:value="${category.id}" th:text="${category.name}"></option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" minlength="5" maxlength="127" class="form-control" th:field="*{csvRecords[__${element.index}__].description}" required/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" th:field="*{csvRecords[__${element.index}__].recordValue}" required/>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0)" onclick="removeRecord(this)" class="text-danger" title="Remove record.">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Import</button>&nbsp;
                                <a th:href="@{/records}" title="Go back to balance page without import the records." class="btn btn-default">Cancel</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
        <script type="text/javascript">
            //<![CDATA[
            function removeRecord(element) {
                if (confirm('Do you really want to remove the record?\nThis action can\'t be undone.')) {
                    $(element).closest("tr").fadeOut(500, function() { $(this).remove(); });
                }
            }
            //]]>
        </script>
    </body>
</html>
