<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row mb-5 page-header">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a th:href="@{'/categories'}">Categories</a></li>
                        <li class="breadcrumb-item active">New Category</li>
                    </ol>
                    <h2><i class="fa fa-tags"></i>&nbsp;New Category</h2>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${#fields.hasErrors('newCategory')}">
                <div class="col">
                    <div class="alert alert-danger" th:errors="*{newCategory}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form action="#" th:object="${newCategory}" th:action="@{/categories/create}" method="post">
                        <fieldset>
                            <legend>Category Details</legend>
                            <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-danger' : ''">
                                <label for="name">Name:</label>
                                <input type="text"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                       th:field="*{name}"
                                       placeholder="Category name."
                                       maxlength="140"
                                       minlength="5"
                                       autofocus
                                       required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" th:field="*{description}" placeholder="Category's purpose brief description."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="maxExpenses">Max Planned Expenses:</label>
                                <input type="text" class="form-control" th:appendclass="${#fields.hasErrors('maxExpenses')} ? 'is-invalid' : ''" th:field="*{maxExpenses}"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('maxExpenses')}" th:errors="*{maxExpenses}"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Create</button>&nbsp;
                                <a th:href="@{/categories}" title="Go back to available categories page without save the changes." class="btn btn-default">Cancel</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>