<div xmlns:th="http://www.thymeleaf.org" th:fragment="CategorySummaryCard(categorySummary, currencySymbol)">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" th:text="${categorySummary.category.name}"></h5>

    </div>
    <p class="mb-1">
        <div class="progress" th:if="${categorySummary.maxExpensesConsumption != 0}">
            <div class="progress-bar progress-bar-striped"
                 role="progressbar"
                 th:style="|width: ${#numbers.formatDecimal(categorySummary.maxExpensesConsumption, 1, 'POINT', 0, 'COMMA')}%|"
                 th:aria-valuenow="${#numbers.formatDecimal(categorySummary.maxExpensesConsumption, 1, 'POINT', 0, 'COMMA')}"
                 th:classappend="${categorySummary.maxExpensesConsumption >= 75} ? bg-danger : (${categorySummary.maxExpensesConsumption >= 50} ? bg-warning : 'bg-success')"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
        </div>
        <table class="category-summary-table">
            <tbody>
                <tr>
                    <td>Consumption</td>
                    <td class="text-right"
                        th:classappend="${(categorySummary.maxExpensesConsumption > 75 ? 'text-danger' : ( categorySummary.maxExpensesConsumption > 50 ? 'text-warning' : 'text-success' ))}"
                        th:text="|${#numbers.formatDecimal(categorySummary.maxExpensesConsumption, 1, 'POINT', 0, 'COMMA')}%|"></td>

                </tr>
                <tr>
                    <td>Balance</td>
                    <td class="text-right"
                        th:classappend="${categorySummary.balance} > 0 ? text-success : text-danger"
                        th:text="|${currencySymbol} ${#numbers.formatDecimal(categorySummary.balance, 1, 'POINT', 2, 'COMMA')}|"></td>
                </tr>
                <tr>
                    <td>Limit</td>
                    <td class="text-right text-info"
                        th:if="${categorySummary.maxExpensesConsumption == 0}">None</td>
                    <td class="text-right text-info"
                        th:if="${categorySummary.maxExpensesConsumption != 0}"
                        th:text="|${currencySymbol} ${#numbers.formatDecimal(categorySummary.maxExpenses, 1, 'POINT', 2, 'COMMA')}|"></td>
                </tr>
                <tr>
                    <td colspan="2"
                        th:text="|${#numbers.formatDecimal(categorySummary.expensesConsumptionPercentage, 1, 'POINT', 2, 'COMMA')}% of the total expenses.|">
                    </td>
                </tr>
            </tbody>
        </table>
    </p>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="CategorySummariesDeck(categorySummaries, currencySymbol)">
    <div class="list-group">
        <span class="bg-dark text-white list-group-item flex-column align-items-start" th:each="categorySummary: ${categorySummaries}" th:include="fragments/category_summary :: CategorySummaryCard(${categorySummary}, ${currencySymbol})"></span>
    </div>
</div>