<head xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex,nofollow">
    <title>Budgie</title>
    <link rel="manifest" th:href="@{/images/manifest.json}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/images/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}">

    <link th:rel="stylesheet" th:href="@{'/webjars/bootswatch-lux/4.2.1/bootstrap.min.css'}"/>
    <link th:rel="stylesheet" th:href="@{'/webjars/font-awesome/5.0.8/web-fonts-with-css/css/fontawesome-all.min.css'}"/>
</head>