<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/records}">
            <img th:src="@{/images/favicon-32x32.png}" width="30" height="30" alt="" class="d-inline-block align-top"/>
            Budgie
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/records'}" title="Show current main account balance.">
                        <i class="fa fa-home fa-lg"></i>&nbsp;Balance
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/accounts'}" title="Manage accounts.">
                        <i class="fa fa-folder fa-lg"></i>&nbsp;Accounts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/categories'}" title="Manage categories.">
                        <i class="fa fa-tags fa-lg"></i>&nbsp;Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/budget'}" title="Manager budget template records.">
                        <i class="fa fa-list-ul fa-lg"></i>&nbsp;Budget
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" title="End your current session safely.">
                        <i class="fa fa-power-off fa-lg"></i>&nbsp;Logout
                    </a>
                </li>
            </ul>
            <span class="navbar-text text-mutted">
                <small>${budgie.build.version} - ${budgie.build.signature}</small>
            </span>
        </div>
    </div>
</nav>