<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body style="padding-top: 120px;">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 th:text="${#temporals.format(balance.balanceDates.periodStartDate, 'MMM yyyy')}"></h1>
                    <p>
                        <small>
                            From&nbsp;<strong th:text="${#temporals.format(balance.balanceDates.periodStartDate,'dd/MM/yyyy')}"></strong>&nbsp;to&nbsp;
                            <strong th:text="${#temporals.format(balance.balanceDates.periodEndDate,'dd/MM/yyyy')}"></strong><br/>
                            <span th:if="${balance.balanceDates.periodRemainingDays >=0 AND balance.balanceDates.periodRemainingDays <= 31}">
                                <strong>
                                    <span th:text="${balance.balanceDates.periodRemainingDays}"></span>&nbsp;day(s)
                                </strong>until the end of this period.<br/>
                            </span>
                            <span th:if="${balance.account.showBalanceOnMainAccount}">
                                Billing date <strong th:text="${#temporals.format(balance.balanceDates.periodBillingDate,'dd/MM/yyyy')}"></strong><br/>
                                <span class="badge badge-warning">Show balance as a main account record.</span><br/>
                            </span>
                            <a th:href="@{'/records'(referenceDate=${balance.balanceDates.previousPeriodStartDate},accountId=${balance.account.id})}">Previous Period</a>
                            &nbsp;|&nbsp;
                            <a th:href="@{'/records'(referenceDate=${balance.balanceDates.nextPeriodStartDate},accountId=${balance.account.id})}">Next Period</a><br/>
                        </small>
                    </p>
                </div>
            </div>

            <div class="row mt-4 mb-3">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" th:each="account: ${availableAccounts}">
                            <a class="nav-link"
                               th:href="@{'/records'(accountId=${account.id},referenceDate=${balance.balanceDates.referenceDate})}"
                               th:classappend="${account.id} == ${balance.account.id} ? active : ''">
                                <i th:if="${account.mainAccount}" class="fa fa-star"></i>
                                <span th:text="${account.name}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mb-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mt-3 mb-3" th:if="${null != error}">
                <div class="col">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>

            <div class="row" th:if="${#lists.isEmpty(balance.records)} and ${#lists.isEmpty(balance.applicableBudgetTemplateRecords)}">
                <div class="col">
                    <div class="jumbotron">
                        <h3>No records found.</h3>
                        <p class="lead">There is no balance record for this account in this period yet.</p>
                    </div>
                </div>
            </div>

            <div class="row" th:if="${not #lists.isEmpty(balance.records)} or ${not #lists.isEmpty(balance.applicableBudgetTemplateRecords)}">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h2 class="d-md-block d-sm-none d-none">Summary</h2>
                            <h4 class="d-md-none d-block">Summary</h4>
                        </div>
                    </div>
                    <div class="row" th:replace="fragments/balance_summary :: HorizontalLayout(${balance.summary}, ${balance.account.currency.currencySymbol})"></div>
                </div>
            </div>

            <div class="row mb-3" th:if="${not #lists.isEmpty(balance.records)} or ${not #lists.isEmpty(balance.applicableBudgetTemplateRecords)}">
                <div class="col-sm-12 col-md-3">
                    <h2 class="d-md-block d-sm-none d-none">Categories</h2>
                    <h4 class="d-md-none d-block">Categories</h4>
                    <div class="jumbotron" th:if="${#lists.isEmpty(balance.categoryBalanceSummaries)}">
                        <h3>No records found.</h3>
                        <p class="lead">No category balance for this account and period yet.</p>
                    </div>
                    <div th:replace="fragments/category_summary :: CategorySummariesDeck(${balance.categoryBalanceSummaries}, ${balance.account.currency.currencySymbol})"/>
                </div>

                <div class="col-sm-12 col-md-9">
                    <div class="row" th:if="${not #lists.isEmpty(balance.applicableBudgetTemplateRecords)}" style="margin-bottom:20px">
                        <div class="col">
                            <h2 class="d-md-block d-sm-none d-none">Budget Template Records</h2>
                            <h4 class="d-md-none d-block">Budget Template Records</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                <span class="d-inline float-left">Template Record</span>
                                                <span class="d-inline float-right">
                                                    <a  th:href="@{'/budgetRecords/applyAll/{accountId}'(accountId=${balance.account.id},periodStartDate=${balance.balanceDates.periodStartDate},periodEndDate=${balance.balanceDates.periodEndDate})}"
                                                        class="btn btn-info btn-sm"
                                                        title="Apply all available budget records for this period.">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="budgetTemplateRecord: ${balance.applicableBudgetTemplateRecords}">
                                            <td>
                                                <h4 class="day-of-month d-inline float-left text-monospace"
                                                    th:text="${#temporals.format(budgetTemplateRecord.recordDate,'dd')}"></h4>
                                                <h5 class="item-title d-inline" th:text="${budgetTemplateRecord.category.name}"></h5>
                                                <a  th:href="@{'/budgetRecords/apply/{id}'(id=${budgetTemplateRecord.id},periodStartDate=${balance.balanceDates.periodStartDate},periodEndDate=${balance.balanceDates.periodEndDate})}"
                                                    title="Create a new balance record in this account and period based on this budget template record."
                                                    class="text-info float-right">
                                                    <span class="fa fa-check fa-lg"></span>
                                                </a>
                                                <span   class="text-muted d-block" th:text="${budgetTemplateRecord.description}"></span>
                                                <span   class="float-right"
                                                        th:text="|${balance.account.currency.currencySymbol} ${#numbers.formatDecimal(budgetTemplateRecord.recordValue, 1, 'POINT', 2, 'COMMA')}|"
                                                        th:classappend="${budgetTemplateRecord.recordValue} > 0 ? text-info : text-danger"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h2 class="d-md-block d-sm-none d-none">Balance Records</h2>
                            <h4 class="d-md-none d-block">Balance Records</h4>
                            <div class="jumbotron" th:if="${#lists.isEmpty(balance.records)}">
                                <h3>No records found.</h3>
                                <p class="lead">There is no balance record for this account in this period yet.
                            </div>
                            <div class="table-responsive" th:if="${not #lists.isEmpty(balance.records)}">
                                <table class="table table-bordered table-hover table-striped filterable">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Record</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td th:include="fragments/filter_form_table_row :: FilterTableRow"></td>
                                        </tr>
                                        <tr th:each="record: ${balance.records}" th:class="${record.recordType} == 'BudgetRecord' ? table-info : ''">
                                            <td>
                                                <input type="hidden" class="record-value" th:value="${record.recordValue}"/>
                                                <h4 class="day-of-month d-inline float-left text-monospace" th:text="${#temporals.format(record.recordDate,'dd')}"></h4>
                                                <h5 class="item-title d-inline" th:text="${record.category.name}"></h5>

                                                <span th:if="${record.recordType == 'SingleRecord'}" class="float-right">
                                                    <div th:replace="fragments/record_delete_button :: SingleRecord(${record.id}, ${balance.balanceDates.referenceDate}, ${balance.account.id})"></div>
                                                </span>
                                                <span th:if="${record.recordType == 'TransferRecord'}" class="float-right">
                                                    <div th:replace="fragments/record_delete_button :: TransferRecord(${record.containerId}, ${balance.balanceDates.referenceDate}, ${balance.account.id})"></div>
                                                </span>
                                                <span th:if="${record.recordType == 'InstalmentRecord'}" class="float-right">
                                                    <div th:replace="fragments/record_delete_button :: InstalmentRecord(${record.id}, ${record.containerId}, ${balance.balanceDates.referenceDate}, ${balance.account.id})"></div>
                                                </span>
                                                <span th:if="${record.recordType == 'BudgetRecord'}" class="float-right">
                                                    <div th:replace="fragments/record_delete_button :: BudgetRecord(${record.id}, ${balance.balanceDates.referenceDate}, ${balance.account.id})"></div>
                                                </span>

                                                <a  th:if="${!#strings.equals(record.recordType, 'TransferRecord') && !#strings.equals(record.recordType, 'DependantAccountRecord')}"
                                                    th:href="@{/records/edit/{id}(id=${record.id})}"
                                                    title="Edit record.">
                                                    <span class="text-small" th:if="${record.bankStatementId != null}" th:title="${record.bankStatementId}"><i class="fas fa-info-circle"></i></span>
                                                    <span class="text-muted d-block" th:text="${record.description}"></span>
                                                </a>

                                                <span th:if="${#strings.equals(record.recordType, 'TransferRecord')}"
                                                      class="text-small"
                                                      title="Transfer between accounts">
                                                    <i class="fas fa-exchange-alt"></i>
                                                </span>
                                                <span th:if="${#strings.equals(record.recordType, 'TransferRecord')}"
                                                      class="text-muted d-block"
                                                      th:text="${record.description}">
                                                </span>

                                                <a  th:if="${#strings.equals(record.recordType, 'DependantAccountRecord')}"
                                                    th:href="@{'/records'(accountId=${record.account.id},referenceDate=${record.periodStartDate})}"
                                                    title="Show account balance."
                                                    target="_blank">
                                                    <span class="text-muted d-block" th:text="${record.description}"></span>
                                                </a>
                                                <span class="text-right float-right"
                                                    th:text="|${balance.account.currency.currencySymbol} ${#numbers.formatDecimal(record.recordValue, 1, 'POINT', 2, 'COMMA')}|"
                                                    th:classappend="${record.recordValue} > 0 ? text-info : text-danger"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-right">
                                                <strong>Balance:</strong>
                                                <a  th:href="@{'/single_records/new'(recordDate=${balance.balanceDates.nextPeriodStartDate},recordDescription='Previous period balance.', accountId=${balance.account.id}, recordValue=${balance.summary.finalBalance})}"
                                                    title="Copy final balance to the next period."
                                                    th:class="${balance.summary.finalBalance} > 0 ? text-info : text-danger">
                                                    <span th:text="|${balance.account.currency.currencySymbol} ${#numbers.formatDecimal(balance.summary.finalBalance, 1, 'POINT', 2, 'COMMA')}|" id="lblBalance"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fab-btn">
            <div class="dropup">
                <a  href="javascript:void(0)"
                    class="btn btn-primary btn-lg dropdown-toggle"
                    type="button"
                    id="btnNewRecord"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-plus fa-lg"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="btnNewRecord">
                    <a th:href="@{/single_records/new}" class="dropdown-item">New Single Record</a>
                    <a th:href="@{/instalments/new}" class="dropdown-item">New Instalments</a>
                    <a th:href="@{/transfers/new}" class="dropdown-item">New Transfer</a>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>