<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body style="padding-top: 120px;">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1 th:text="${#temporals.format(balance.balanceDates.periodStartDate, 'MMM yyyy')}"></h1>
                    <p>
                        <small>
                            From&nbsp;<strong th:text="${#temporals.format(balance.balanceDates.periodStartDate,'dd/MM/yyyy')}"></strong>&nbsp;to&nbsp;
                            <strong th:text="${#temporals.format(balance.balanceDates.periodEndDate,'dd/MM/yyyy')}"></strong><br/>
                            <span th:if="${balance.balanceDates.periodRemainingDays >=0 AND balance.balanceDates.periodRemainingDays <= 31}">
                                <strong>
                                    <span th:text="${balance.balanceDates.periodRemainingDays}"></span>&nbsp;day(s)
                                </strong>until the end of this period.<br/>
                            </span>
                            <span th:if="${balance.account.showBalanceOnMainAccount}">
                                Billing date <strong th:text="${#temporals.format(balance.balanceDates.periodEndDate,'dd/MM/yyyy')}"></strong><br/>
                                <span class="badge badge-warning">Show balance as a main account record.</span><br/>
                            </span>
                            <a th:href="@{'/records'(referenceDate=${balance.balanceDates.previousPeriodStartDate},accountId=${balance.account.id})}">Previous Period</a>
                            &nbsp;|&nbsp;
                            <a th:href="@{'/records'(referenceDate=${balance.balanceDates.nextPeriodStartDate},accountId=${balance.account.id})}">Next Period</a><br/>
                        </small>
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 text-right align-self-end">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="btnNewRecord" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New Record</button>
                        <div class="dropdown-menu" aria-labelledby="btnNewRecord">
                            <a th:href="@{/single_records/new}" class="dropdown-item">New Single Record</a>
                            <a th:href="@{/instalments/new}" class="dropdown-item">New Instalments</a>
                            <a th:href="@{/transfers/new}" class="dropdown-item">New Transfer</a>
                            <a th:href="@{/importFiles/new}" class="dropdown-item">Import from file</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 mb-3">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" th:each="account: ${availableAccounts}">
                            <a class="nav-link"
                               th:href="@{'/records'(accountId=${account.id},referenceDate=${balance.balanceDates.referenceDate})}"
                               th:text="${account.name}"
                               th:classappend="${account.id} == ${balance.account.id} ? active : ''"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mb-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mt-3 mb-3" th:if="${null != error}">
                <div class="col">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>

            <div class="row" th:if="${#lists.isEmpty(balance.records)}">
                <div class="col">
                    <div class="jumbotron">
                        <h2>No records found.</h2>
                        <p class="lead">There is no balance record for this account in this period yet.
                    </div>
                </div>
            </div>

            <div class="row" th:if="${not #lists.isEmpty(balance.records)}">
                <div class="col-sm-12 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Current Balance</div>
                        <div class="card-body text-right">
                            <h4 class="card-title" th:text="${#numbers.formatDecimal(balance.summary.balanceUpToDate, 0, 'POINT', 2, 'COMMA')}"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Final Balance</div>
                        <div class="card-body text-right">
                            <h4 class="card-title" th:text="${#numbers.formatDecimal(balance.summary.finalBalance, 0, 'POINT', 2, 'COMMA')}"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Incomes</div>
                        <div class="card-body text-right">
                            <h4 class="card-title" th:text="${#numbers.formatDecimal(balance.summary.totalIncomes, 0, 'POINT', 2, 'COMMA')}"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header">Expenses</div>
                        <div class="card-body text-right">
                            <h4 class="card-title" th:text="${#numbers.formatDecimal(balance.summary.totalExpenses, 0, 'POINT', 2, 'COMMA')}"></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3" th:if="${not #lists.isEmpty(balance.records)}">
                <div class="col-sm-12 col-md-3">
                    <div class="list-group">
                        <a th:each="categorySummary: ${balance.categoryBalanceSummaries}"
                           href="javascript:void(0)"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${categorySummary.category.name}"></h5>
                            </div>
                            <p class="mb-1">$&nbsp;<span th:text="${#numbers.formatDecimal(categorySummary.balance, 0, 'POINT', 2, 'COMMA')}"></span></p>
                            <small class="text-muted">
                                <strong th:text="${#numbers.formatDecimal(categorySummary.expensesConsumptionPercentage, 0, 'POINT', 0, 'COMMA')}"></strong>% of the
                                total expenses.
                            </small>
                        </a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-9">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th>Description</th>
                                    <th class="text-center">Value</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="record: ${balance.records}">
                                    <td class="text-center" th:text="${#temporals.format(record.recordDate,'dd')}"></td>
                                    <td>
                                        <a  th:if="${!#strings.equals(record.recordType, 'TransferRecord')}"
                                            th:href="@{/records/edit/{id}(id=${record.id})}"
                                            th:text="${record.description}"
                                            title="Edit record."></a>
                                        <span th:if="${#strings.equals(record.recordType, 'TransferRecord')}" th:text="${record.description}"></span>
                                        <span class="badge badge-pill badge-dark" th:text="${record.category.name}"></span>
                                    </td>
                                    <td class="text-right"
                                        th:text="${#numbers.formatDecimal(record.recordValue, 0, 'POINT', 2, 'COMMA')}"
                                        th:classappend="${record.recordValue} > 0 ? text-info : text-danger"></td>
                                    <td class="text-center">
                                        <div th:if="${record.recordType == 'SingleRecord' OR record.recordType == 'ImportedRecord'}">
                                             <div th:replace="fragments/record_delete_button :: SingleRecord(${record.id}, ${balance.balanceDates.referenceDate}, ${balance.account.id})"></div>
                                        </div>
                                        <div th:if="${record.recordType == 'TransferRecord'}">
                                             <div th:replace="fragments/record_delete_button :: TransferRecord(${record.containerId}, ${balance.balanceDates.referenceDate}, ${balance.account.id})"></div>
                                        </div>
                                        <div th:if="${record.recordType == 'InstalmentRecord'}">
                                            <div th:replace="fragments/record_delete_button :: InstalmentRecord(${record.id}, ${record.containerId}, ${balance.balanceDates.referenceDate}, ${balance.account.id})"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-right">
                                        <strong>Final Balance:</strong>
                                    </td>
                                    <td th:text="${#numbers.formatDecimal(balance.summary.finalBalance, 0, 'POINT', 2, 'COMMA')}"
                                        class="text-right"
                                        th:classappend="${balance.summary.finalBalance} > 0 ? text-info : text-danger"></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>