<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row page-header">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h1 th:text="${#temporals.format(balance.balanceDates.periodStartDate, 'MMM yyyy')}"
                        th:if="${#temporals.format(balance.balanceDates.periodStartDate, 'MM') == #temporals.format(balance.balanceDates.periodEndDate, 'MM')}"></h1>
                    <h1 th:text="|${#temporals.format(balance.balanceDates.periodStartDate, 'MMM')}/${#temporals.format(balance.balanceDates.periodEndDate, 'MMM yyyy')} |"
                        th:if="${#temporals.format(balance.balanceDates.periodStartDate, 'MM') != #temporals.format(balance.balanceDates.periodEndDate, 'MM')}"></h1>
                    <span th:if="${balance.account.showBalanceOnParentAccount}" class="badge badge-pill badge-info mb-3" th:text="|Show balance as a ${balance.account.parent.name} record.|"></span>
                    <small class="d-block">
                        From&nbsp;<span th:text="${#temporals.format(balance.balanceDates.periodStartDate,'dd/MM/yyyy')}"></span>&nbsp;to&nbsp;<span th:text="${#temporals.format(balance.balanceDates.periodEndDate,'dd/MM/yyyy')}"></span>
                    </small>
                    <small th:if="${balance.account.showBalanceOnParentAccount}" class="d-block">Billing date on <span th:text="${#temporals.format(balance.balanceDates.periodBillingDate,'dd/MM/yyyy')}"></span></small>
                    <small th:if="${balance.balanceDates.periodRemainingDays >=0 AND balance.balanceDates.periodRemainingDays <= 31}" class="d-block">
                        <span th:text="${balance.balanceDates.periodRemainingDays}"></span>&nbsp;day(s) until the end of this period. (<span th:text="|${#numbers.formatDecimal(balance.balanceDates.periodCompletion, 1, 'POINT', 0, 'COMMA')}% completed|"></span>)
                    </small>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success"
                             role="progressbar"
                             th:style="|width: ${#numbers.formatDecimal(balance.balanceDates.periodCompletion, 1, 'POINT', 0, 'COMMA')}%|"
                             th:aria-valuenow="${#numbers.formatDecimal(balance.balanceDates.periodCompletion, 1, 'POINT', 0, 'COMMA')}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                        </div>
                    </div>
                    <div class="d-block mt-3">
                        <small>
                            <a th:href="@{'/records'(referenceDate=${balance.balanceDates.previousPeriodStartDate},accountId=${balance.account.id})}"><i class="fa fa-chevron-left"></i>&nbsp;Previous Period</a>&nbsp;|&nbsp;
                            <a th:href="@{'/records'(referenceDate=${balance.balanceDates.nextPeriodStartDate},accountId=${balance.account.id})}">Next Period<i class="fa fa-chevron-right"></i></a>
                        </small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 offset-lg-4 col-lg-4">
                    <h5>Balance Summary</h5>
                    <div th:replace="fragments/balance_summary.html :: VerticalLayout(${balance.summary}, ${balance.account.currency.currencySymbol})"></div>
                </div>
            </div>

            <div class="row mt-4 mb-3">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" th:each="account: ${availableAccounts}">
                            <a class="nav-link"
                               th:href="@{'/records'(accountId=${account.id},referenceDate=${balance.balanceDates.referenceDate})}"
                               th:classappend="${account.id} == ${balance.account.id} ? active : ''">
                                <i th:if="${account.mainAccount}" class="fa fa-star"></i>
                                <span th:text="${account.name}"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mb-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mt-3 mb-3" th:if="${null != error}">
                <div class="col">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
            </div>

            <div class="row" th:if="${#lists.isEmpty(balance.records)} and ${#lists.isEmpty(balance.applicableBudgetTemplateRecords)}">
                <div class="col">
                    <div class="jumbotron">
                        <h3>No records found.</h3>
                        <p class="lead">There is no balance record for this account in this period yet.</p>
                    </div>
                </div>
            </div>

            <div class="row mb-3" th:if="${not #lists.isEmpty(balance.records)} or ${not #lists.isEmpty(balance.applicableBudgetTemplateRecords)}">
                <div class="col-sm-12 col-md-3">
                    <h4 class="mb-4">Categories Summary</h4>
                    <div class="jumbotron" th:if="${#lists.isEmpty(balance.categoryBalanceSummaries)}">
                        <h3>No records found.</h3>
                        <p class="lead">No category balance for this account and period yet.</p>
                    </div>
                    <div th:replace="fragments/category_summary :: CategorySummariesDeck(${balance.categoryBalanceSummaries}, ${balance.account.currency.currencySymbol})"/>
                </div>

                <div class="col-sm-12 col-md-9">
                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-pills mb-3">
                                <li class="nav-item">
                                    <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming</a>
                                </li>
                                 <li class="nav-item">
                                     <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All</a>
                                </li>
                                <li class="nav-item" th:if="${not #lists.isEmpty(balance.applicableBudgetTemplateRecords)}">
                                    <a class="nav-link" id="budget-tab" data-toggle="tab" href="#budget" role="tab" aria-controls="budget" aria-selected="false">Planned</a>
                                </li>
                                <li class="nav-item" th:if="${not #lists.isEmpty(balance.projectBalanceSummaries)}">
                                    <a class="nav-link" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Projects</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="grids">
                                <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-hidden="upcoming-tab">
                                    <div class="jumbotron" th:if="${#lists.isEmpty(balance.records.?[#bools.isTrue(upcoming)])}">
                                        <h3>No upcoming records found.</h3>
                                        <p class="lead">No records upcoming for the next 7 (seven) days.</p>
                                    </div>
                                    <div class="table-responsive" th:if="${not #lists.isEmpty(balance.records.?[#bools.isTrue(upcoming)])}">
                                        <div th:replace="fragments/record_grid :: RecordGrid(${balance.records.?[#bools.isTrue(upcoming)]}, ${balance}, false)"></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="all" role="tabpanel" aria-hidden="all-tab">
                                    <div class="jumbotron" th:if="${#lists.isEmpty(balance.records)}">
                                        <h3>No records found.</h3>
                                        <p class="lead">No records for this period.</p>
                                    </div>
                                    <div class="table-responsive" th:if="${not #lists.isEmpty(balance.records)}">
                                        <div th:replace="fragments/record_grid :: RecordGrid(${balance.records}, ${balance}, true)"></div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show" id="budget" role="tabpanel" aria-hidden="budget-tab" th:if="${not #lists.isEmpty(balance.applicableBudgetTemplateRecords)}">
                                   <div class="table-responsive">
                                       <div th:replace="fragments/record_grid :: BudgetTemplateRecordsGrid(${balance.applicableBudgetTemplateRecords})"></div>
                                   </div>
                                </div>
                                <div class="tab-pane fade show" id="projects" role="tabpanel" aria-hidden="projects-tab" th:if="${not #lists.isEmpty(balance.projectBalanceSummaries)}">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover table-sm">
                                            <tbody>
                                                <tr th:each="project: ${balance.projectBalanceSummaries}">
                                                    <td>
                                                        <div class="initial-letter d-inline float-left text-monospace">
                                                            <h2 th:text="${#strings.substring(project.project.name, 0, 1)}"></h2>
                                                        </div>
                                                        <h5 class="item-title d-inline" th:text="${project.project.name}"></h5><br/>
                                                        <small class="text-muted" th:text="${project.project.description}"></small><br/>
                                                        <small class="text-muted"
                                                               th:text="|${project.project.currency.currencySymbol} ${#numbers.formatDecimal(project.balance, 1, 'POINT', 2, 'COMMA')} achieved of ${project.project.currency.currencySymbol} ${#numbers.formatDecimal(project.project.targetValue, 1, 'POINT', 2, 'COMMA')} target.|"></small>
                                                        <small class="text-muted"
                                                               th:text="|(${#numbers.formatDecimal(project.progressPercentage, 1, 'POINT', 0, 'COMMA')}% completed)|"></small>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped"
                                                                 role="progressbar"
                                                                 th:style="|width: ${#numbers.formatDecimal(project.progressPercentage, 1, 'POINT', 0, 'COMMA')}%|"
                                                                 th:aria-valuenow="${#numbers.formatDecimal(project.progressPercentage, 1, 'POINT', 0, 'COMMA')}"
                                                                 th:classappend="bg-info"
                                                                 aria-valuemin="0"
                                                                 aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fab-btn">
            <div class="dropup">
                <a  href="javascript:void(0)"
                    class="btn btn-primary btn-lg dropdown-toggle"
                    type="button"
                    id="btnNewRecord"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-plus fa-lg"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="btnNewRecord">
                    <a th:href="@{/single_records/new}" class="dropdown-item">New Single Record</a>
                    <a th:href="@{/instalments/new}" class="dropdown-item">New Instalments</a>
                    <a th:href="@{/transfers/new}" class="dropdown-item">New Transfer</a>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>