<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body style="padding-top:120px;">
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/records'}"><span class="fa fa-home"></span></a></li>
                        <li class="breadcrumb-item active">New Transfer</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1>New Transfer</h1>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${null != message}">
                <div class="col">
                    <div class="alert alert-success" th:text="${message}"></div>
                </div>
            </div>

            <div class="row mb-3 mt-3" th:if="${#fields.hasErrors('newTransfer')}">
                <div class="col">
                    <div class="alert alert-danger" th:errors="*{newTransfer}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form action="#" th:object="${newTransfer}" th:action="@{/transfers/create}" method="post">
                        <fieldset>
                             <legend>Transfer Details</legend>
                             <div class="form-group" th:classappend="${#fields.hasErrors('transferDate')} ? 'has-danger' : ''">
                                <label for="transferDate">Transfer Date:</label>
                                <input type="date" class="form-control" th:field="*{transferDate}" th:classappend="${#fields.hasErrors('transferDate')} ? 'is-invalid' : ''" autofocus required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('transferDate')}" th:errors="*{transferDate}"/>
                            </div>
                            <div class="form-group">
                                <label for="sourceAccountId">Source Account:</label>
                                <select th:field="*{sourceAccountId}" class="form-control" required>
                                    <option th:each="account: ${availableAccounts['Accounts']}" th:value="${account.id}" th:text="${account.name}"></option>
                                </select>
                            </div>
                             <div class="form-group">
                                <label for="destinationAccountId">Destination Account/Project:</label>
                                <select th:field="*{destinationAccountId}" class="form-control" required>
                                    <optgroup th:each="accountType: ${availableAccounts}" th:label="${accountType.key}">
                                        <option th:each="account: ${accountType.value}" th:value="${account.id}" th:text="${account.name}"></option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="categoryId">Category:</label>
                                <select th:field="*{categoryId}" class="form-control">
                                    <option th:each="category: ${availableCategories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-danger' : ''">
                                <label for="description">Description:</label>
                                <input  type="text"
                                        class="form-control"
                                        placeholder="Brief description of the record."
                                        minlength="5"
                                        maxlength="140"
                                        th:field="*{description}"
                                        th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"
                                        required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                            </div>
                            <div class="form-group" th:classappend="${#fields.hasErrors('transferValue')} ? 'has-danger' : ''">
                                <label for="transferValue">Transfer Value ($):</label>
                                <input  type="text"
                                        class="form-control"
                                        th:field="*{transferValue}"
                                        th:classappend="${#fields.hasErrors('transferValue')} ? 'is-invalid' : ''"
                                        placeholder="0.000,00"
                                        required/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('transferValue')}" th:errors="*{transferValue}"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" title="Creates a new transfer">Create</button>&nbsp;
                                <a class="btn btn-default" th:href="@{/records}" title="Go back to balance without save the changes.">Cancel</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>